.product-container {
    text-align: center;
      /* Centers the button below the image */
}

.buy-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #FF9900;  /* Amazon-like orange */
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #FF7700;
}
.ps{
    height: 300px;
    width: 250px;
}