.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 222, 222);
    padding-left: 10px;
    padding-right: 10px;
}
.txt{
    display: flex;
    gap: 20px;
    padding-right: 50px;
}
.mainb{
    display: flex;
    gap: 100px;
    padding-top: 50px;
}
.box{
    margin-top: 100px;
    background-color: aqua;
    height: 200px;
    width: 400px;
    padding-left: 90px;
    font-size: 30px;
    padding: 50px;
}
button{
    font-size: 20px;
    border-radius: 10px;
    padding: 9px;
    border: 1px;
}
.img{
    margin-left: 200px;
    width: 600px;
    height: 500px;
}
.copy{
padding-left: 700px;
background-color: whitesmoke;
height: 70px;
padding-top: 20px;
}
.m{
    margin-top: 50px;
}
.ract{
    padding-left: 100px;
}